<% provide(:title,"About") %>

    <h1>About</h1>

    <p>
      This is my first deployed website built with Ruby on Rails! To learn about this website's
      functionality, visit the <%= link_to "Help", help_path %> page.
    </p>
    <p>
      I referenced the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> by Michael Hartl while building this site. It's a 
      <a href="http://www.railstutorial.org/book">book</a> and
      <a href="http://screencasts.railstutorial.org/">screencast series</a>
      to teach web development with
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      This is an excellent resource for anyone looking to get started with Rails!
    </p>
