<% provide(:title,"Help") %>

    <h1>Help</h1>
    <p>
      This website implements a basic Twitter-like blog. Site visitors need to
      <%= link_to "sign up", signup_path %> and verify their email addresses before
      being allowed to write post, view other users' posts, and follow other users.
      Each user has a unique news feed that is filled with his or her own posts
      and all posts from users he or she is following. A users may request that a
      password-reset link is sent to his or her verified email address.
    </p>
