<h1>Andrew's Sample Website</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Thanks so much for signing up for my website! Click the link below to complete your account's activation and get started:
</p>

<p><%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %></p>

<p>Cheers!</p>
<p>Andrew</p>
